
<div class="login w-100 h-100 d-flex align-items-center justify-content-center">
  <form class="login-form" name="form" (submit)="login($event)">
    <div class="row">
      <h4 class="input-title">Login</h4>
      <div class="input-group input-group-icon">
        <input id="username" type="text" placeholder="Username"/>
        <div class="input-icon"><i class="fa fa-sign-in-alt"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input id="password" type="password" placeholder="Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
    </div>

    <div class="row submit-buttons">
      <button type="submit" class="btn login-button">Login</button>
      <div class="register-button">
        <a routerLink="../register" class="">
          Don't have an account?
        </a>
      </div>
    </div>
  </form>
</div>
