// For Text:
$defaultColor:            #212529;
$firstTextColor:          #7ed321;

// For Border:
$firstBorderColor:        #e5e5e5;
$secondBorderColor:       #64ac15;
$thirdBorderColor:        #7ed321;

// For Background:
$firstBackgroundColor:    #f9f9f9;
$secondBackgroundColor:   #7ed321;
